.slideshow {
  position: relative;
  height: 415px;
  overflow: hidden;
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  &__img {
    position: absolute;
    opacity: 0;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
    &.show {
      opacity: 1;
    }
  }
  &__page {
    position: absolute;
    z-index: 1;
    bottom: 10px;
    width: 100%;
    font-size: 18px;
    font-style: normal;
    text-align: center;
    color: #fff;
  }
  &__nav {
    z-index: 1;
    width: 100%;
    margin: 23.36px;
    display: flex;
    justify-content: space-between;
    svg {
      cursor: pointer;
      width: 50px;
      color: #fff;
    }
  }
}
