.navPrimary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1240px;
  margin: 20px 0;
  padding-left: 20px;
  padding-right: 20px;
  @media (min-width: 550px) {
    margin: 20px auto;
  }
  @media (min-width: 960px) {
    padding-left: 100px;
    padding-right: 100px;
  }
  svg {
    fill: $primary;

    width: 115px;
    @media (min-width: 350px) {
      width: 145px;
    }
    @media (min-width: 550px) {
      width: 210px;
    }
  }
  &__list {
    list-style: none;
    display: flex;
  }
  &__elt {
    padding: 10px;
    a {
      color: $primary;
      font-size: 12px;
      text-decoration: none;
      @media (min-width: 550px) {
        font-size: 24px;
      }
    }
  }
  & .active {
    text-decoration: underline;
  }
}
