.openning {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  border-radius: 25px;
  overflow: hidden;
  margin-bottom: 25px;
  height: 111px;
  @media (min-width: 550px) {
    margin-bottom: 30px;
  }
  @media (min-width: 960px) {
    height: 223px;
  }
  &__title {
    position: absolute;
    font-size: 24px;
    line-height: 142.6%;
    color: #ffffff;
    display: flex;

    align-items: center;
    height: 100%;
    width: 100%;
    background: #0000004d;
    padding: 0 30% 0 20px;
    box-sizing: border-box;
    @media (min-width: 960px) {
      font-size: 48px;
      padding: 0;
      justify-content: center;
    }
  }
  &.keepHeight {
    height: 223px;
    &__title {
      position: relative;
    }
  }
}
