.tag {
  padding: 3px 10px;
  margin-right: 10px;
  color: #fff;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: $primary;
  border-radius: 10px;
  font-size: 10px;
  @media (min-width: 550px) {
    font-size: 14px;
  }
}
