.noFound {
  display: flex;
  flex-direction: column;
  text-align: center;
  &__title {
    font-weight: 700;
    font-size: 96px;
    line-height: 137px;
    margin-top: 160px;
    @media (min-width: 960px) {
      font-size: 96px;
      line-height: 213px;
      margin-top: 66px;
      margin-bottom: 66px;
      font-size: 288px;
    }
  }
  &__text {
    font-size: 18px;
    line-height: 51px;
    margin-top: 0;
    margin-bottom: 182px;
    @media (min-width: 960px) {
      font-size: 36px;
    }
  }
  &__link {
    font-size: 18px;
    line-height: 26px;
    text-decoration: none;
    color: $primary;
    &:hover {
      color: #673ab7;
    }
  }
}
